html, body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
background-color: #d0d0d0 !important;
}

.nav-item-active {

font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 20%;
}
.nav-item-dropdown {

font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 12.5%;
}
.nav-item {

font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 10%;
}
.nav-item2 {
position: relative;
margin-top: 2%;
}



.advice{
    font-family: monospace;
    font-size:25px;
    word-wrap: break-word;
    max-width: 96.7%;
}



 
#disqus_thread{
    margin: 10px
}
