/*  color: blue or HEXCODE;
    font-size: 30px;
    font-family: "Comic Sans";
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.5;

    width: 200px;
    height: 100px;
    margin: 30px; 
    padding: 30px;

    background-color: lightblue;
    border: 10px solid black;
    border-radius: 10px; */
html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
body {
    background-color: #d0d0d0 !important;
}
.nav-item-active {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    color: white !important;
    position: relative;
    right: 20%;
}
.nav-item-dropdown {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    color: white !important;
    position: relative;
    right: 12.5%;
}
.nav-item {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    color: white !important;
    position: relative;
    right: 10%;
}
.nav-item2 {
    position: relative;
    margin-top: 2%;
}
.quote {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: gray;
    line-height: 1.5;
    position: relative;
    right: -10%;
    margin-top: 5%;
}
.info {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 45px;
    line-height: 1.25;
    position: relative;
    right: -10%;
    margin-top: 0%;
}
.imagebox {
    width: 40%;
    position: relative;
    right: -50%;
    top: -400px;
}
