/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
background-color: #d0d0d0 !important;
}
.nav-item-active {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 20%;
}

.nav-item-dropdown {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 12.5%;
}

.nav-item {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 10%;
}

.nav-item2 {
position: relative;
margin-top: 2%;
}

















.subject-heading {
    font-family: "Work Sans";
    color:white;
    display:block;
    font-size: 50px;
    position:relative;
    right:-45%;
    top: 175px;
}

/* Setting positions for all the icons */
.subjects{
    position:relative;
    display: block;
    right: -4.2%;
    top: 200px
}

.math{
    position:relative;
    padding:20px;
    right: -12%;
    max-width: 100%;
    height: auto;
}
.english{
    position:relative;
    padding:20px;
    right: -12%;
    max-width: 100px;
    height: auto;
}
.science{
    position:relative;
    padding:20px;
    right: -12%;
    max-width: 100%;
    height: auto;  
}
.history{
    position:relative;
    padding:20px;
    right: -12%;
    max-width: 100%;
    height: auto;
}
.language{
    position:relative;
    padding:20px;
    right: -12%;
    max-width: 100%;
    height: auto;
} 

