

html, body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
background-color: #d0d0d0 !important;
}

.nav-item-active {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 20%;
}
.nav-item-dropdown {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 12.5%;
}
.nav-item {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
color: white !important;
position: relative;
right: 10%;
}
.nav-item2 {
position: relative;
margin-top: 2%;
}

.whiteboard{
    position:relative;
    top: 50px;
    right: -1%
}

.board{
    border-radius: 25px;
    border: 2px solid #4A97F1;
    padding: 20px;
    background-color:  white;
    height: 820px;
    width: 1858px;
    max-width: 97%;
    max-height: 70%
}

.advice{
    font-family: monospace;
    font-size:25px;
    word-wrap: break-word;
    max-width: 96.7%;
}

#respond{
    margin-top:40px;

}

#respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 30%;
  
    border: 1px solid rgba(30, 5, 93, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
}
 
#disqus_thread{
    margin: 10px
}
